/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    margin-left: 60px;
    font-size: 30px;
    font-weight: bold;
  }

  .logo a{
    text-decoration: none !important;
  }
  
  .navlinks {
    margin-right: 60px;
    padding-top: 12px;
    list-style: none;
    display: flex;
    gap: 24px;
  }
  
  .navlink {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .navlink a {
    color: black;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .navlink a:hover {
    color: #2196f3;
    text-decoration: underline;
  }
  